body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f7;
}
ul, ol {
    list-style-type: none; /* Removes the bullet points */
    padding-left: 0; 
    display: flex;
    gap: 5px;
}
.img_adhesive {
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
    color: #9F8A7C;
    font-weight: 200;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}
p {
    font-size: 18px;
    font-weight: 400;
}

form {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    display: inline-block;
}

input[type="number"] {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
}

.button-27 {
    margin-top: 20px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 30px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 10px 20px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.split {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    appearance: none;
    padding: 10px 20px;
    background-color: #DFDBD4;
    border-radius: 15px;
    border: none;
    width: 60%;
}

.button-27:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#image-container {
    max-width: 100%; /* Ensure container scales with the section */
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Ensure absolute positioning of child elements */
}

#image-container img {
    max-width: 100%; /* Ensure the image scales with its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any inline spacing */
    position: absolute; /* Position image absolutely */
    top: 0; /* Align image to top */
    left: 0; /* Align image to left */
}

#rectangle-container {
    position: relative; /* Adjust to relative for better control */
    overflow: hidden; /* Hide overflow content */
    z-index: 1; /* Ensure the rectangle is above the image */
}

.rectangle {
    position: absolute;
    overflow: hidden;
}

.square-60, .square-120, .uncovered {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-size: cover;
}

.square-60 {
    width: 60px;
    height: 60px;
    background-image: url("../images/BANDES_240.jpg"); /* Replace with the path to your first image */
}

.square-120 {
    width: 120px;
    height: 120px;
    background-image: url("../images/BANDES_480.jpg"); /* Replace with the path to your second image */
}

.uncovered {
    background-color: #94B5A4; /* Replace with the path to your third image */
    background-repeat: repeat;
    background-size: 120px;
}

#message {
    font-family: "Raleway", sans-serif;
}

form#uploadForm {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
}
.wrap {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2 {
    max-width: 1324px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3 {
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap4 {
    max-width: 785px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.sec-one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Add wrap to make columns stack vertically on smaller screens */
}
.one {
    display: flex;
    flex-direction: column;
}

.sec-one {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    align-items: stretch; /* Make sure items stretch to the same height */
    flex-wrap: wrap; /* Add wrap to make columns stack vertically on smaller screens */
}

.flex-1 {
    flex: 1; /* Ensure both blocks take equal space */
    display: flex;
    flex-direction: column; /* Ensure contents stack vertically */
    margin: 10px;
    min-width: 300px; /* Set a minimum width to prevent columns from becoming too narrow */
}
.display {
    display: flex;
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: center;
}
#image-container img {
    width: 100%; /* Ensure the image scales with its container */
    max-width: 100%; /* Prevent the image from overflowing */
}
.plus, .hyphen {
    background-color: #DFDBD4;
    border: none;
    padding: .9rem;
    border-radius: 10px;
}
#uploadForm label {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'Helvetica', sans-serif;
    transition: .5s;
  }
  
  #uploadForm label:hover {
    background-color: #eee;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: .9rem;
    border-radius: 10px;
    background-color: #DFDBD4;
    border: 1px solid #ddd;
    
    transition: background-color 0.3s ease;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.btn p {
    margin: 0 10px 0 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.btn:hover {
    background-color: #e0e0e0;
}

#myFile {
    display: none;
}
.thumbnail {
    width: 100px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #ddd;
    transition: transform 0.2s ease;
}

.thumbnail:hover {
    transform: scale(1.1);
}
select{
    width: 40%;
    padding: .5rem;
    border-radius: 10px;
    border: #7a7a7a solid 1px;
    background: #DFDBD4;
}

.color_selector{
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: .9rem;
}


